/* Pagrindiniai stiliai */
body {
    font-family: 'Roboto', sans-serif; /* Nustatyta naudoti Google šriftą */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navigacija */
nav {
    background-color: #444;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sekcijos */
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

section h2 {
    color: #333;
}

/* Porafo stiliai */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
